/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/* Author: pallosp@google.com (Peter Pallos) */

/* Sample 3-state checkbox styles. */

.goog-checkbox {
  border: 1px solid #1C5180;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 1px;  /* Fixes the height in IE6 */
  height: 11px;
  margin: 0 4px 0 1px;
  vertical-align: text-bottom;
  width: 11px;
}

.goog-checkbox-checked {
  background: #fff url(../../resources/check-sprite.gif) no-repeat 2px center;
}

.goog-checkbox-undetermined {
  background: #bbb url(../../resources/check-sprite.gif) no-repeat 2px center;
}

.goog-checkbox-unchecked {
  background: #fff;
}

.goog-checkbox-disabled {
  border: 1px solid lightgray;
  background-position: -7px;
}
