/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

.goog-tooltip {
  background: infobackground;
  color: infotext;
  border: 1px solid infotext;
  padding: 1px;
  font: menu;
  font-size: 11pt;
  z-index: 100;
}