@CHARSET "UTF-8";

body {
    font-family : 'Arial', sans-serif;
    margin      : 0px;
    color       : #333;
    min-width   : 640px;
}

h1, h2, h3, h4, h5, h6 {
    color               : #666;
    cursor              : default;
    -webkit-user-select : none;
    user-select         : none;
}

label {
    cursor              : default;
    -webkit-user-select : none;
    user-select         : none;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

a {
    cursor : pointer;
}

#header {
    background-color : #333;
    color            : lightGray;
}

#header h1 {
    display   : inline-block;
    margin    : 5px 0px;
    font-size : 30px;
    color     : #7DD1F1;
}

#header ul {
    display        : inline-block;
    float          : none;
    vertical-align : middle;
}

#header li {
    display : inline-block;
}

#header a {
    color   : #999999;
    padding : 10px;
}

#header a:hover {
    transition       : color 0.3s ease-in;
    color            : white;
    background-color : #333;
    text-decoration  : none;
}

#header button {
    vertical-align : top;
}

#nav {
    margin : 0 auto;
    width  : 960px;
}

#container {
    margin : 0 auto;
    float  : none;
}

.invisible {
    visibility : hidden;
}

.borderless {
    border : 0;
}

.center {
    text-align : center;
}

.bold {
    font-weight : bold;
}

.modal-dialog {
    min-width                  : 250px;
    max-width                  : 550px;
    border-bottom-left-radius  : 5px;
    border-bottom-right-radius : 5px;
    z-index                    : 11;
}

.modal-dialog-buttons {
    text-align : center;
}

.modal-dialog-buttons button {
    margin-left : 10px;
    cursor      : pointer;
    width       : 85px;
    text-align  : center;
    font-size   : 12pt;
}

.modal-dialog-bg {
    z-index : 10;
}

.dialog-warning {
    background-color : #FFD966;
}

.dialog-error {
    background-color : #E06666;
}

.no-select {
    cursor              : default;
    -webkit-user-select : none;
    user-select         : none;
}

.inline {
    display: inline-block;
}

.control-group .help-inline {
    display    : none;
}

.error .help-inline, .warning .help-inline, 
.info .help-inline, .success .help-inline {
    display        : inline-block;
    vertical-align : super;
    font-size      : 14px;
}

.alert-wrapper {
    position      : absolute;
    z-index       : 20;
    width         : 100%;
}

.alert {
    display : table;
    margin  : 2px auto;
}

.alert img {
    width          : 24px;
    height         : 24px;
    vertical-align : top;
}

.alert span {
    display     : inline-block;
    margin      : 3px 0 0 10px;
    font-size   : 18px;
    font-weight : bold;
}

.alert .close {
    margin-top: 5px;
}

.goog-tooltip {
    padding             : 8px 10px;
    font-size           : 16px;
    background-color    : #f9f9f9;
    border              : 2px solid #dddddd;
    border-radius       : 3px;
    box-shadow          : 4px 5px 5px rgba(0,0,0,0.3);
    cursor              : default;
    -webkit-user-select : none;
    user-select         : none;
}

.ac-renderer {
    z-index          : 10;
    background-color : #f9f9f9;
    border           : 2px solid #dddddd;
}
