@CHARSET "UTF-8";

#login-form {
    display : inline-block;
    margin-bottom: 0px;
}

#hero {
    background    : url("../resources/login-bg.jpg");
    border-radius : 10px;
    width         : 960px;
    height        : 420px;
    margin        : 30px 0px;
}

#hero h1 {
    padding     : 75px 0px 10px 275px;
    color       : white;
    font-size   : 70px;
    text-shadow : 5px 5px 2px lightSlateGray;
}

#hero h2 {
    padding-left  : 275px;
    padding-right : 20px;
    color         : white;
    text-shadow   : 3px 3px 2px lightSlateGray;
}

#footer {
    padding-bottom   : 10px;
    border-radius    : 10px;
    padding          : 0px 20px;
}

#footer > div {
    display        : inline-block;
    vertical-align : top;
    width          : 200px;
    margin         : 25px 20px 0px 5px;
    border-top     : 6px solid #C8C7BB;
    transition     : border 0.4s ease-in;
}

#footer > div:hover {
    border-top  : 6px solid #66BEC5;
    transition  : border 0.3s ease-in;
}

#footer h3 {
    font           : 20px sans-serif;
    margin-bottom  : 10px;
}

#footer p {
    margin-bottom : 10px;
    margin-left   : 5px;
    font-size     : 14px;
    font-family   : serif;
}
