@CHARSET "UTF-8";

#breadcrumb {
    margin-left : 50px;
}

#breadcrumb h2 {
    display     : inline-block;
    font-size   : 18px;
    font-weight : normal;
    color       : white;
    margin      : 5px 0;
}

#breadcrumb img {
    width  : 12px;
    height : 12px;
    margin : -5px 5px 0 8px;
}

#user-box {
    display        : inline-block;
    float          : right;
    height         : 36px;
    vertical-align : top;
    padding-top    : 14px;
    margin-right   : 10px;
}

#user-box > .goog-menu-button {
    margin-top : -5px;
}

#user-box .goog-menu-button-caption {
    font-size : 16px;
}

#notifications img {
    margin-top : 10px;
}

#side-bar {
    border-radius    : 5px;
    margin           : 10px 10px 10px 0px;
    background-color : #333;
    list-style-type  : none;
    color            : white;
    box-shadow       : #7e8596 0 0 1px;
    border           : 1px solid #15161a;
}

#side-bar > li > a {
    display          : block;
    color            : #f4f4f4;
    font-size        : 14px;
    border-bottom    : 1px solid #090a0c;
    border-top       : 1px solid #40454f;
    padding          : 10px 0 10px 8px;
    text-decoration  : none;
    text-shadow      : 0 1px 0 #000;
    background-image : linear-gradient(#373b44,#2c2f36);
}

#side-bar img {
    width        : 24px;
    height       : 24px;
    margin-right : 10px;
}

.sub-menu {
    margin-left: 10px;
}

.sub-menu li {
    list-style-type  : none;
}

.sub-menu a {
    text-decoration : none;
    border-top      : 1px solid #f6f6f6;
    border-bottom   : 1px solid #c9c9c9;
    font-size       : 14px;
    color           : #555;
    display         : block;
    background      : #eee;
    padding         : 5px 15px;
    text-shadow     : 0 1px 0 #fff;
    white-space     : nowrap;
}

.sub-menu li:last-child a {
    border-bottom-right-radius: 5px;
}

.sub-menu a:hover {
    color      : #333;
    background : #fff;
    text-shadow: 1px 1px 1px lightGray;
    transition : color, background 0.4s ease-in;
}

#content {
    position      : relative;
    display       : inline-block;
    border-radius : 5px;
    margin        : 10px 0 10px 0;
    min-height    : 300px;
}

.modal-dialog-content .row {
    height: 35px;
}

.password-confirm {
    margin-top  : 10px;
    margin-left : 5px;
    width       : 32px;
    height      : 32px;
}

.input-error {
    display     : block;
    color       : red;
    font-weight : bold;
    font-size   : 10pt;
}

.input-prepend input, .input-append input {
    width: 100px;
}

.box {
    margin         : 10px 10px 20px 0;
    vertical-align : top;
}

.box .row {
    margin: 0;
}

.box-head {
    float                   : none;
    border-top-left-radius  : 5px;
    border-top-right-radius : 5px;
    border                  : 1px solid #aaa;
    background              : linear-gradient(#e6e6e6,#cccccc);
    margin                  : -10px 0px 0px;
}

.box-head h3 {
    display     : inline-block;
    text-shadow : 0 1px 0 #eee;
    color       : #444;
    font-size   : 15px;
    margin      : 0;
}

.box-head img {
    margin : 0 7px;
    width  : 20px;
    height : 20px;
}

.box-head .btn {
    padding: 5px 0;
}

.box-content {
    float         : none;
    margin        : 0px;
    background    : #eee;
    border        : 1px solid #bbb;
    border-top    : none;
    border-radius : 0 0 3px 3px;
    padding       : 10px;
}

.box-content [class*="span"] {
    float: none;
}

.box-content label {
    display        : inline-block;
    vertical-align : super;
    padding-right  : 10px;
    margin         : 5px 0 5px 20px;
}

.box-content table th {
    background-color : #fff;
    font-weight      : bold;
    vertical-align   : middle;
    text-align       : center;
}

.box-content .goog-menu-button {
    vertical-align: top;
}

.box-actions {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(170, 170, 170);
    padding-top: 10px;
    margin-top: 10px;
}

.box-actions .btn {
    vertical-align : text-bottom;
    margin-left    : 10px;
}

.btn-success img {
    width  : 16px;
    margin : -4px 10px 0px 0px;
}

.btn-success span, .btn-info {
    font-size   : 15px;
    font-weight : bold;
}

.pill {
    color            : #3a87ad;
    background-color : #d9edf7;
    border           : 1px solid #3a87ad;
    padding          : 5px 10px;
    border-radius    : 4px;
    font-weight      : bold;
    vertical-align   : middle; 
    height           : 18px;
    font-size        : 13px;
}

.pill > span {
    float  : right;
    cursor : pointer;
}

.pill > div {
    display : inline-block;
}

.input-append .pill {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px
}

.pos-totals {
    margin     : 10px 0 0 0;
    border-top : 1px solid #aaa;
    padding    : 10px 0 0 0;
}

.pos-confirm {}

.pos-confirm .row {
    display : block;
    margin  : 0 auto;
    width   : 300px;
    height  : 35px;
}

.pos-confirm label {
    font-size : 18px;
    margin    : 5px 0 5px 20px;
}

.invoice-total {
    font-weight : bold;
    width       : 90px;
}

.invoice-summary-value {
    text-align    : right;
    padding-right : 10px;
    width         : 70px;
    margin-left   : 0;
}

.validation-error {
    color            : #ffffff !important;
    font-weight      : bold !important;
    background-color : #bd362f !important; 
}

.summary-table th {
    text-align : center;
}

.summary-table td {
    padding-left     : 10px;
    background-color : #FAFAFA;
    vertical-align   : middle;
    width            : 50%;
}

.summary-table td:last-child {
    text-align : right;
}

.search-pane .goog-menu-button-inner-box {
    width : 128px;
}

.search-pane .goog-menu-button-dropdown {
    float : right;
}

.pos-table {
    width : 195px;
}

.balance-table {
    display : inline-table;
    width   : 47%;
}

.balance-table td:first-child {
    width : 50%;
}

.return-panel {
    text-align : left;
}

.return-panel span {
    font-size : 16px;
    margin    : 0 10px;
}

.return-panel table {
    margin : 15px 10px;
    width  : 515px;
}

.return-panel input[type="checkbox"], .box-content input[type="checkbox"] {
    height     : 15px; 
    width      : 15px; 
    margin-top : -1px;
}

.return-panel table input[type="text"] {
    width      : 32px;
    margin     : 0;
    padding    : 1px 3px;
    text-align : right;
}

.slide-panel {
    background-color : white;
}

.slide-panel-glass {
    background-color : gray;
    opacity          : .3;
    height           : 700px;
    display          : inline-block;
    width            : 220px;
    margin           : -10px 0 0 10px;
    border-radius    : 5px;
}

.inventory-table {
    width : 515px;
}

.inventory-table td {
    text-align : right;
    width      : 75px;
}

.inventory-detail-table td {
    text-align : right;
}

.form-header {
    border-bottom-color : #AAA;
    border-bottom-width : 1px;
    border-bottom-style : solid;
    margin              : 10px 20px 20px 15px;
}

.contact-form {
    min-height : 30px;
}

.contact-form img {
    width  : 16px;
    height : 16px;
}

.contact-form button {
    margin  : 0 20px 0 2px;
    padding : 2px 6px;
}

.contact-form select {
    margin : 0 10px;
    width  : 100px;
}

.credit-line-invoices {
    display     : inline-block;
    width       : 265px;
    padding-top : 10px;
}

.credit-line-payments {
    display      : inline-block;
    width        : 265px;
    padding-top  : 10px;
    margin-right : 0;
}

.credit-line-invoices .box-content, .credit-line-payments .box-content {
    max-height  : 500px;
    overflow-y  : auto;
}

.report-bar {
    float         : none;
    border-radius : 5px;
    border        : 1px solid #aaa;
    background    : linear-gradient(#e6e6e6,#cccccc);
}

.report-bar > div {
    padding : 5px 0;
}

.report-bar button {
    margin : 4px 5px;
    width  : 100px;
}

.report-bar h3 {
    display   : inline-block;
    margin    : 0 10px;
    font-size : 18px;
    min-width : 90px;
}

.report-bar label {
    display        : inline-block;
    margin         : 0 10px;
    vertical-align : text-bottom;
}

.report-bar input[type="text"], .report-bar input[type="date"], .report-bar select {
    width        : 115px;
    margin-right : 10px;
}

.report-bar input[type="radio"] {
    width          : 14px;
    height         : 14px;
    vertical-align : top;
}

.report-bar button {
    vertical-align : top;
}

.report-bar img[src*="loading.gif"] {
    width : 24px;
    height : 24px;
}

.report-content {
    border-radius : 5px;
    border        : 1px solid #aaa;
    margin        : 10px 0 0 20px;
    min-height    : 500px;
    padding       : 10px;
    background    : #eee;
    width         : 762px;
    max-height    : 600px;
    overflow-y    : overlay;
    overflow-x    : hidden;
}

.report-content h2 {
    vertical-align : middle;
    text-align     : center;
    margin-top     : 50px;
}

.report-content img[src*="loading.gif"] {
    width   : 64px;
    height  : 64px;
    padding : 50px 350px;
}

.report-content table {
    margin-left : 15px;
}

.report-content thead th {
    text-align : center;
}

.report-content hr {
    border : 1px solid lightSlateGray;
}

.legend {
    border        : 1px solid #aaa;
    border-radius : 5px;
    padding       : 5px;
    display       : table;
    margin        : 0 auto;
    background    : linear-gradient(#e6e6e6,#cccccc);
}

.graph canvas {
    text-align : center;
}

.legend .key {
    display        : inline-block;
    vertical-align : middle;
    width          : 15px;
    height         : 15px;
    margin         : 0 5px;
}

.legend label {
    display      : inline-block;
    margin-right : 5px;
}

.legend.vertical {
    display         : inline-block;
    vertical-align  : bottom;
    margin          : 0 10px 20px 100px;
}

.priv-form {
    max-height: 600px;
    overflow-y: auto;
}

.priv-form label, .notify-form label {
    margin-left : 5px;
    width       : 210px;
    padding     : 2px 0px 2px 5px;
}

.priv-form input[type="checkbox"], .notify-form input[type="checkbox"] {
    margin-top  : -13px;
    margin-left : 15px;
}

.priv-form h3 {
    margin-top    : 40px;
    border-bottom : 1px solid gray;
}

.priv-form h3:first-child {
    margin-top : 0px;
}

.priv-form h4 {
    margin-top : 15px;
}

.priv-form .required {
    background-color : lightSlateGray;
    font-weight      : bold;
    color            : white;
    border-radius    : 5px;
}

#notifications .badge {
    vertical-align : bottom;
    float          : right;
}

#notifier-pane {
    position                   : absolute;
    z-index                    : 10;
    top                        : 50px;
    width                      : 300px;
    min-height                 : 300px;
    max-height                 : 750px;
    overflow-y                 : auto;
    color                      : white;
    box-shadow                 : #7e8596 0 0 1px;
    background-color           : #333;
    border-bottom-left-radius  : 5px;
    border-bottom-right-radius : 5px;
}

#notifier-pane h3 {
    padding    : 75px 20px;
    text-align : center;
    color      : lightGray;
}

#notifier-pane .notification {
    padding          : 5px 5px 5px 15px;
    border-bottom    : 1px solid #090a0c;
    border-top       : 1px solid #40454f;
    text-decoration  : none;
    text-shadow      : 0 1px 0 #000;
    background-image : linear-gradient(#373b44,#2c2f36);
}

#notifier-pane h6 {
    color: lightSlateGray;
}
